.layui-col-space12 {
    margin: 0;
}
.layui-tab-card {
    border: 0;
}

.layui-col-md2{
	    width: 24.9%;
    padding: 0.07rem;
}
.layui-col-md4{
	padding:0.07rem;
}
#midden-div{
	padding-top:0.25rem;
}
.grid-demo,.layui-card{
	border-radius:0.05rem;	
}
#provinceCount,#tourCount{
	background-color: #6A8ABE;
}
#cityCount,#cleanCount{
   background-color: #44BFCA;
}
#countyCount,#countyHzbCount{
	background-color: #00A0E9;
}
#townCount,#townHzbCount{
	background-color: #80C269;
}
#villageCount,#unitCount{
   background-color:#EB6877;
}
.layadmin-contact-box {
    overflow: hidden;
}
.layui-card-header{
	border-bottom: 1px solid #14AFFF;
	color:#7F7D7D;
	font-weight:bold;
}
.layadmin-contact-box .layadmin-title {
    margin: -0.08rem 0 0.1rem;
	font-family:Adobe Heiti Std R;
	font-weight:normal;
	color:#FBFCFA;
}
.cydw-span{
	padding-left: 0.04rem;
	font-size:0.12rem;
}
  .layui-fluid{
    padding:0.05rem 0px;
   }
  .layadmin-contact-box {
        padding: 0.5rem 0.4rem;
    padding-left: 0.26rem;
    padding-top: 0.31rem;
    padding-bottom: 0.28rem;
    padding-right: 0.2rem;
  } 
 .layadmin-title {
    font-size:0.24rem;
 }
 .layui-col-md4 .layui-card{
	height:3.4rem;
 }
 #midden-div{
	padding-right:0.35rem;
 }
  #checkChart,#taskChart,#riverLongChart{
    height:80%;
 }
 .layadmin-contact-box img {
    width: 0.45rem;
    height: 0.48rem;
  }
 .layadmin-contact-box .layui-col-md4 {
    padding: 0px; 
  }
 .layui-form-label{
 	width: 88px;!important
 }